<% title "Nouvel article | " %>
<div class="col-md-5">
  <div class="form-area">
  <h3>Nouvel article</h3>
      <%= simple_form_for(:article) do |f| %>
      <div class="form-group">
        <%= f.text_field :title, :required => true, placeholder: "Titre", class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.text_field :content, :as => :text, :required => true, placeholder: "Description", class: 'form-control', maxlength: "140", :rows => "10" %>
      </div>
      <div class="form-group">
        <%= f.text_field :image, :required => true, placeholder: "URL d'une image", class: 'form-control' %>
      </div>
      <h3>
      <%= f.submit "Valider", class: "btn btn-primary" %>
      </h3>
      <% end %>
  </div>
</div>
