<html lang="fr">
<% title "Guide de survie | " %>

<body>
  <div class="container">
    <% if current_user && current_user.admin? %>
      <p>  <button type="button" class="btn btn-primary" onclick="window.location.href='http://localhost:3000/newarticle'">Ajouter un article</button>
    <% end %>
    <% @articles.each do |art| %>
    <div class="row">
      <div class="box">
        <div class="col-lg-12">
          <div class="hrSurvival"></div>
          <h2 class="intro-text text-center">
            <strong><%= art[:title] %></strong>
          </h2>
          <div class="hrSurvival"></div>
          <% if art[:image] %>
            <img class="img-responsive2 img-border img-left" src="<%= art[:image] %>" alt="">
          <% end %>
          <p> <%= raw art[:content] %> </p>
          <p><% if current_user %>
            <%= link_to "Commenter", '/comment?' + {art: art[:id]}.to_param, method: :post, :class => "commenter"%>
          <% end %>
          <%= link_to "Commentaires", '/allcomments?' + {art: art[:id]}.to_param, method: :post, :class => "commentaire"%></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%= will_paginate @articles, :previous_label => 'Précédent', :next_label => 'Suivant' %>
</body>

</html>
