<html lang="fr">
<% title "Guide de survie | " %>

<body>
  <div class="container">
    <% if current_user && current_user.admin? %>
      <p> <%= link_to "Ajouter un article", '/newarticle' %></p>
    <% end %>
    <% @articles.each do |art| %>
    <div class="row">
      <div class="box">
        <div class="col-lg-12">
          <div class="hrSurvival"></div>
          <h2 class="intro-text text-center">
            <strong><%= art[:title] %></strong>
          </h2>
          <div class="hrSurvival"></div>
          <% if art[:image] %>
            <img class="img-responsive2 img-border img-left" src="<%= art[:image] %>" alt="">
          <% end %>
          <p> <%= raw art[:content] %> </p>
          <% if current_user %>
          <p> <%= link_to "Commenter", '/comment?' + {art: art[:id]}.to_param, method: :post
            %></p>
          <% end %>
          <p> <%= link_to "Commentaires", '/allcomments?' + {art: art[:id]}.to_param, method: :post
            %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%= will_paginate @articles, :previous_label => 'Précédent', :next_label => 'Suivant' %>
</body>

</html>
