<!DOCTYPE html>
<html lang="fr">
<head>
  <%  title "Actualités | "  %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container">
    <% @rss_results.each do |article| %>
    <div class="col-lg-9 col-sm-6 col-lg-offset-3">
      <div class="post-preview">
        <a target="_blank" href="<%= article[:link] %>">
          <h2 class="post-title">
            <%= raw article[:title] %>
          </h2></a>
          <p class="post-subtitle">
            <%= raw article[:description] %>
          </p>
          <p class="post-meta"><%= raw article[:pubDate].strftime("Publié le %d/%m/%Y à %R") %> |  <a target="_blank" href="https://www.ouest-france.fr"><em>Source : Ouest-France</em></a></p>
        </div>
      </div>
      <div class="col-lg-9 col-sm-6">
        <img class="img-responsive" src="<%= article[:img] %>">
      </div>
      <hr class="section-heading-spacer">
      <% end %>
    </div>
  </body>
  </html>
