<!DOCTYPE html>
<html>
<head>
  <% title "Breilsass" %>
<title><%= title %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="icone.ico">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../">BREILSASS</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ACTUALITÉS<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Régionales</li>
                <li><a href="../actu/alsace">Alsace</a></li>
                <li><a href="../actu/bretagne">Bretagne</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Départementales</li>
                <li class="dropdown-header">Alsace</li>
                <li><a href="../actu/67">Bas-Rhin (67)</a></li>
                <li><a href="../actu/68">Haut-Rhin (68)</a></li>
                <li class="dropdown-header">Bretagne</li>
                <li><a href="../actu/22">Côtes-d'Armor (22)</a></li>
                <li><a href="../actu/29">Finistère (29)</a></li>
                <li><a href="../actu/35">Ille-et-Vilaine (35)</a></li>
                <li><a href="../actu/56">Morbihan (56)</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">BONS PLANS<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="../bonsplans/alsace">Alsace</a></li>
                <li><a href="../bonsplans/bretagne">Bretagne</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LIEUX À VISITER<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="../lieux/alsace">Alsace</a></li>
                <li><a href="../lieux/bretagne">Bretagne</a></li>
              </ul>
            </li>
            <li><a href="../survie">GUIDE DE SURVIE</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
          <li><%= link_to "UTILISATEURS", '#' %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">COMPTE<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profil", current_user %></li>
              <li><%= link_to "Paramètres", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Se déconnecter", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="active"><%= link_to "S'IDENTIFIER", login_path %></li>
        <% end %>
            <li><a href="../contact">CONTACT</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= yield %>

    </div>

    <footer class="footer">
      <p class="text-muted">Copyright &copy; Breilsass 2017
      <a href="../about">À propos</a></p>
      <ul class="social-network social-circle">
        <li><a target="_blank" href="http://cts-strasbourg.eu/" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
        <li><a target="_blank" href="https://facebook.com/CtsStrasbourg/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a target="_blank" href="https://twitter.com/cts_infostrafic" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a target="_blank" href="https://9gag.com/gag/1439500" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
  </html>
